CCS/.metadata/.lock
CCS/.metadata/.log
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/6.1.0/C2000.xml
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/6.1.0/C2000_6.4.xml
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/6.1.0/C5500.xml
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/6.1.0/C6000.xml
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/6.1.0/C6000_7.4.xml
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/6.1.0/C6000_8.0.xml
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/6.1.0/EVE.xml
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/6.1.0/MSP430.xml
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/6.1.0/MSP430_4.4.xml
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/6.1.0/MSP432.xml
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/6.1.0/MSP432_5.2.xml
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/6.1.0/PRU.xml
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/6.1.0/TMS470.xml
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/6.1.0/TMS470_5.2.xml
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/C2000_6.4.6.xml
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/C6000_7.4.14.xml
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/C6000_7.4.15.xml
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/C6000_8.0.3.xml
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/hex/C2000_6.4.6.txt
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/hex/C6000_7.4.14.txt
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/hex/C6000_7.4.15.txt
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/hex/C6000_8.0.3.txt
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/hex/MSP430_4.4.5.txt
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/hex/MSP430_4.4.6.txt
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/hex/MSP432_5.2.5.txt
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/hex/MSP432_5.2.6.txt
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/hex/TMS470_5.2.5.txt
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/hex/TMS470_5.2.6.txt
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/MSP430_4.4.5.xml
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/MSP430_4.4.6.xml
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/MSP432_5.2.5.xml
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/MSP432_5.2.6.xml
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/TMS470_5.2.5.xml
CCS/.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/TMS470_5.2.6.xml
CCS/.metadata/.plugins/com.ti.ccstudio.project.ui/dialog_settings.xml
CCS/.metadata/.plugins/com.ti.dvt.analyzersuite/TransportParams.xml
CCS/.metadata/.plugins/com.ti.dvt.datamodel/SolutionMgr.xml
CCS/.metadata/.plugins/com.ti.dvt.energytrace/EnergyTrace.xml
CCS/.metadata/.plugins/com.ti.dvt.ideadapter/IDEAdapterMgr.xml
CCS/.metadata/.plugins/org.eclipse.cdt.core/.log
CCS/.metadata/.plugins/org.eclipse.cdt.core/BA.1445870580323.pdom
CCS/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
CCS/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
CCS/.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
CCS/.metadata/.plugins/org.eclipse.core.resources/.projects/BA/.indexes/properties.index
CCS/.metadata/.plugins/org.eclipse.core.resources/.projects/BA/com.ti.ccstudio.project.core/Debug/advice.xml
CCS/.metadata/.plugins/org.eclipse.core.resources/.projects/BA/com.ti.ccstudio.project.core/Debug/benchmarks.xml
CCS/.metadata/.plugins/org.eclipse.core.resources/.projects/BA/com.ti.ccstudio.project.core/Debug/linkerFlags.txt
CCS/.metadata/.plugins/org.eclipse.core.resources/.projects/BA/com.ti.ccstudio.project.core/Debug/symbols.txt
CCS/.metadata/.plugins/org.eclipse.core.resources/.projects/BA/org.eclipse.egit.core/GitProjectData.properties
CCS/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
CCS/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
CCS/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
CCS/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
CCS/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
CCS/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.ti.ccstudio.branding.prefs
CCS/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.ti.ccstudio.ui.prefs
CCS/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prefs
CCS/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-BA.prefs
CCS/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
CCS/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
CCS/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
CCS/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
CCS/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
CCS/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
CCS/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
CCS/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
CCS/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
CCS/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
CCS/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
CCS/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
CCS/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
CCS/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
CCS/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
CCS/.metadata/.plugins/org.eclipse.rse.core/.log
CCS/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
CCS/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.student-pc_515/FP.local.files_0/node.properties
CCS/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.student-pc_515/H.local_16/node.properties
CCS/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.student-pc_515/node.properties
CCS/.metadata/.plugins/org.eclipse.rse.ui/.log
CCS/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
CCS/.metadata/version.ini
